:root {
    --card-size: 200px;

    font-size: 62.5%;
}


.main {
    display: flex;
    flex-wrap: wrap;
}

.card {
  /* flex-basis: 50%;
  min-width: 400px;
  max-width: 600px; */
  /* flex-basis: var(--card-size) ; */
  flex: .5 0 var(--card-size);
  perspective: 40rem;
  -moz-perspective: 50rem;
  position: relative;
  /* margin: 1rem; */
  height: var(--card-size);
  padding: 1rem;
}
.card.flipped {
    z-index: 500;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;

}

/* @media screen and (max-width: 450px) {
  .card {
    display: none;
    max-width: 100%;
    flex-grow: 1;
  }
} */
.card_side {
  overflow: hidden;
  /* height: 300px; */
  height: 100%;
  color: #c1c1c1;
  transition: all 0.5s ease;
  position: absolute;
  box-shadow: 0 0.5rem 2rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}
@media screen and (max-width: 905px) {
  .card_side {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  }
}
.card_side_flip {
  color: white;
  position: absolute;
  top: 1.5rem;
  left: 3rem;
}
.card_side--front {
  /* background-color: white; */
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.card_side--front.can {
    background-image: url('../assets/canada.svg');
}
.card_side--front.us {
    background-image: url('../assets/flag.svg');
}
.card_side--front.au {
    background-image: url('../assets/australia.svg');
}
.card_side--front.india {
    background-image: url('../assets/india.svg');
}
.card_side--front.uk {
    background-image: url('../assets/uk.svg');
}


.card_side--front_picture {
  height: 5rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(75, 75, 150, 0.3),rgba(75,75,150,0.6));
}
.card_side--front_title {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  margin: 1rem;
  color: white;
}
.card_side--front_desc {
  color: #333333;
  padding: 1.5rem;
}
.card_side--back {
  background-color: #333333;
  transform: rotateY(180deg);
  color: white;
  padding: 1rem 2rem;
  height: 100vh;
  width: 100vw;
}
.card_side--back_title {
  margin: 1rem;
  text-align: center;
}
.card_side--back_techlist {
  list-style: circle;
  color: #c1c1c1;
  padding: 1rem;
}
.flipped .card_side--front {
  transform: rotateY(-180deg);
}

.flipped .card_side--back {
  transform: rotateY(0);
  /* height: 100vh;
  width: 100vw; */
}
