* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --card-size: 125px;
    --mobile-size: 700px;
    --back-color: rgb(37, 49, 73);
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 62.5%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0 3rem;
}
.header_title {
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
}

.card {
    flex: 0 0 var(--card-size);
    perspective: 40rem;
    -moz-perspective: 50rem;
    position: relative;
    height: var(--card-size);
    padding: 1rem;
    margin: 1rem;
}
.card.flipped {
    z-index: 500;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
}

.card_side {
    overflow: hidden;
    min-height: 100%;
    color: #c1c1c1;
    transition: all 0.5s ease;
    position: absolute;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* margin: 1.5rem; */
}
.card_side.flipped {
    margin: 0;
}
@media screen and (max-width: 905px) {
    .card_side {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    }
}

.card_side--front {
    background-color: whitesmoke;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 1rem;
    flex: 0 0 150px;
}
.card_side--front:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(white, #97d7e5);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.card_side--front:hover:after {
    opacity: 0.2;
}

.card_side--front_title-bg {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-image: linear-gradient(
        to right bottom,
        rgba(75, 75, 150, 0.5),
        rgba(75, 75, 150, 0.9)
    );
}
.card_side--front_title {
    color: white;
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 1.4rem;
}
.card_side--front_desc {
    color: #333333;
}
.card_side--back {
    background-color: var(--back-color);
    transform: rotateY(180deg);
    color: white;
    width: 100%;
    height: inherit;
}

.card_side--back_header {
    padding: 1px;
}
.rotate-icon {
    /* color: whitesmoke; */
    position: absolute;
    top: 3rem;
    left: 3rem;
    cursor: pointer;
}
.card_side--back_title {
    margin: 2.5rem 1rem;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Amatic SC', cursive;
}

.flipped .card_side--front {
    transform: rotateY(-180deg);
}

.flipped .card_side--back {
    transform: rotateY(0);
    height: unset;
    padding: 1rem;
}

.styled-hr {
    margin-bottom: 2rem;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card_side--front.can {
    background-image: url('../assets/canada.svg');
}
.card_side--front.us {
    background-image: url('../assets/flag.svg');
}
.card_side--front.au {
    background-image: url('../assets/australia.svg');
}
.card_side--front.in {
    background-image: url('../assets/india.svg');
}
.card_side--front.uk {
    background-image: url('../assets/uk.svg');
}

/* container class for articles */
.card_side--back_articles {
    width: 90%;
    margin: 1rem auto;
}

/**** Dynamically generated classes via JS *****/
.article {
    margin: 2rem 0 0.5rem;
}

/* a double wrapper for article photo - neat trick to size height relative to width */
.img-wrapper {
    max-width: 100%;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
}
.img-wrapper-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.article-photo {
    width: 100%;
    object-fit: cover;
}
.article-link {
    color: whitesmoke;
    text-decoration: none;
}
.article-title {
    margin: 1.5rem 0 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    transition: color 0.25s ease;
}
.article-title:hover {
    color: lightblue;
}
.article-desc {
    margin: 0.5rem 0 3rem;
    font-size: 1.3rem;
}

.article-separator {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px 0 0 0;
    border-radius: 10px;
}
.article-separator:after {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0 0 1px 0;
    border-radius: 10px;
}

@media screen and (min-width: 500px) {
    .card_side--back_articles {
        width: 80%;
        margin: 1rem auto;
    }
}

/* large devices ------------------ */
@media screen and (min-width: 700px) {
    :root {
        --card-size: 200px;
    }
    .header_title {
        font-size: 5rem;
    }
    .card {
        margin: 2rem;
    }
    .card_side--front_title {
        font-size: 2rem;
    }
    .card_side--back_articles {
        width: 90%;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 3rem;
    }
    .article {
        margin: 2rem 0 3rem;
    }
    .article-separator,
    .article-separator:after {
        display: none;
    }
}
